body{
	background:#0F192A;
	margin:auto;
	font-size:14px;
	color:white;
	overflow:hidden;
}
#all{
	width:100%;
	height:90vh;
	display: flex;
	flex-wrap:wrap;
	align-items:stretch;
	overflow:none;
}

#texteditor{
	padding:1em;
	flex-grow:0;
	width:60%;
	height:100%;
	border:1px solid white;
	overflow:scroll;	
	box-sizing:border-box;
}

#parse{
	width:40%;
	border:1px solid white;
	display:inline-flex;
	flex-direction:column;
	box-sizing:border-box;
}
#parseeditor{
	padding:1em;
	height:90%;
	border:1px solid white;
	overflow:scroll;	

}
.CodeMirror{
	height:100%;
}

ul{
	list-style-type: none;
	margin: 0;
     	padding: 0;
  	overflow: hidden;
}

li{
	float:left;
}

li a{
	color:white;
	text-decoration:none;
	display:block;
	padding:1em;
}
li a:hover{
	background-color:blue;
}


#console{
	margin:1em;
	width:100%;
	height:15%;
	color:yellow;
	float:left;
	position:relative;
}
.console{
	font-family: monospace;
	font-size:14px;
	width:100%;
	height:10%;
	z-index:6;
	color:white;
}

#log{
	width:100%;
	height:70%;
	overflow-y:scroll;
	position:absolute;
}

#log div{
	display:block;
	font-family: monospace;
	font-size:14px;
}

.errorlog{
	color:red;
}

.blink{
	animation: blinker 0.5s linear;
}

@keyframes blinker {
      	10% {
		background-color:rgba(0,0,0,0);
      	}
}
