body{
	background:#0F192A;
}

#texteditor{
	padding:0.5%;
	width:50%;
	height:90vh;
	float: left;
	color:white;
	border:1px solid white;
}
#parse{
	border:1px solid white;
	width:48%;
	height:70vh;
	float:right;
	display:block;
}
#console{
	width:47%;
	height:17%;
	border:1px solid white;
	color:yellow;
	position:absolute;
	top:75%;
	float:right;
	display:block;
}
#parseeditor{
	width:100%;
	height:95%;
	float:right;
	color:white;
	display:block;
}

.CodeMirror{
	font-size:20px;
	margin:3px;
	height:95%;
}

.console{
	font-family: monospace;
	font-size:14px;
	position: absolute;
	width:100%;
	height:2em;
	z-index:6;
	bottom:0;
	color:white;
	left:50px;
}
